/* ==================================== Form */

body {
	background-color: #1F1F1F;
	color: #F0F0F0;
}

a {
	color: #F0F0F0;
}

/* ==================================== Title with menu & navigation */

#titleDiv {
	background-color: #305090;
}

/* ==================================== Index */


/* ==================================== Navigation */


/* ==================================== Page */

.tutorialTitle {
	color: #7090D0;
}

.tutorialHeading1 {
	color: #7090D0;
}

.tutorialHeading2 {
	color: #7090D0;
}

/* ==================================== Code */

code {
	background-color: #383838;
}

.codeBlock {
	background-color: #383838;
}
