/* ==================================== Form */

body {
	padding: 0px;
	margin: 0px;
	font-family: system-ui;
	font-size: medium;
	background-color: white;
}

#formTable {
	width: 100%;
}

#formTable th {
	/* Force auto-width */
	width: 0px;
	vertical-align: top;
	text-align: left;
	font-weight: normal;
}

#formTable td {
	vertical-align: top;
	text-align: left;
}

/* ==================================== Title with menu & navigation */

#titleDiv {
	/* Grid setup with left, center and right part. */
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;

	background-color: #C5ECF9;
	font-size: X-Large;
	font-weight: bold;
	text-align: center;
}

#titleLeftDiv{
	justify-self: start;
	margin-left: 8px;
	/* Vertically center items */
	display: flex;
	align-items: center;
	justify-content: center;
}

#titleCenterDiv {
	justify-self: center;
	/* Vertically center items */
	display: flex;
	align-items: center;
	justify-content: center;
}

#titleRightDiv {
	justify-self: end;
	margin-right: 8px;
	/* Vertically center items */
	display: flex;
	align-items: center;
	justify-content: center;
}

.titleButton {
	font-size: x-large;
	font-size: x-large;
}

#previousButton {
	margin-right: 8px;
}

#menuButton {
	margin-right: 8px;
	/* Hide by default */
	display: none;
}

#nextButton {
	margin-left: 8px;
}


/* ==================================== Index */

#indexDiv {
	width: 200px;
	/* Set height to viewport size minus headers */
	height: calc(100vh - 100px);
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

details>*:not(summary) {
	margin-left: 2em;
}

/* Hide index and show menu button on small (mobile) screen */
@media (max-width: 800px) {
	#indexDiv {
		display: none;
	}

	#menuButton {
		display: inline;
	}

	#titleDiv {
		/* Grid setup to allow left-aligning the menu button.
	   Menu button is shown now, causing an extra column the grid. */
		grid-template-columns: auto 1fr auto;
	}
}

/* ==================================== Navigation */

.navigationDiv {
	display: flex;
	justify-content: space-between;
	padding: 4px;
}

/* ==================================== Page */

#pageDiv {
	/* Set height to viewport size minus headers */
	height: calc(100vh - 100px);
	overflow-y: scroll;
	padding-left: 8px;
}

.tutorialTitle {
	font-size: x-large;
	font-weight: bold;
	color: navy;
	margin-bottom: 8px;
}

.tutorialHeading1 {
	font-size: large;
	font-weight: bold;
	color: navy;
	margin-bottom: 8px;
}

.tutorialHeading2 {
	font-weight: bold;
	color: navy;
	margin-bottom: 8px;
}

.tutorialText {
	margin-bottom: 16px;
}

.tutorialNote {
	font-style: italic;
}

/* ========================= Code */

code {
	font-family: monospace;
	background-color: #d8d8d8;
	padding-left: 3px;
	padding-right: 3px;
}

.codeBlock {
	font-family: monospace;
	background-color: #d8d8d8;
    display: inline-block;
	margin-left: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

/* ========================= Generic */

.horizontal-center {
	text-align: center;
}

.horizontal-left {
	text-align: left;
}

.bold-horizontal-center {
	text-align: center;
	font-weight: bold;
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
