@import "../default.css";

#newsTable {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-width: 2px;
	border-spacing: 8px;
	border-radius: 10px;
	border-color: grey;
	text-align: left;
}

#newsTable p {
	line-height: 1.2;
	margin: 8px;
	padding: 0;
}

.newsDate {
	position: absolute;
	bottom: 6px;
	right: 4px;
	padding-left: 4px;
	padding-right: 4px;
	font-weight: normal;
	font-size: smaller;
}
