/* ==================================== Form */

body {
	background-color: #1F1F1F;
	color: #F0F0F0;
}

a {
	color: #F0F0F0;
}

.title {
	background-color: #305090;
}

.subTitle {
	background-color: #305090;
}

/* ==================================== Code */

code {
	background-color: #383838;
}

.codeBlock {
	background-color: #383838;
}

