body {
	padding: 0px;
	margin: 0px;
	font-family: system-ui;
	font-size: medium;
	/* background-color: white; */
}

#formTable {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2px;
	padding-right: 2px;
	/* border-spacing: 16px; */
	/* border-radius: 10px; */
	/* border-color: grey; */
	width: 100%;
}

@media (min-width: 800px) {
	#formTable {
		width: 800px;
	}
}

.title {
	font-size: X-Large;
	font-weight: bold;
	text-align: center;
	background-color: #C5ECF9;
	margin-top: 0px;
	margin-left: 0px;
	padding: 4px;
}

.subTitle {
	font-size: larger;
	font-weight: bold;
	text-align: left;
	background-color: #C5ECF9;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: center;
	/* This is needed to place the contained date field span absolute, bottom, right */
	position: relative;
}

.horizontal-center {
	text-align: center;
}

.horizontal-left {
	text-align: left;
}

.bold-horizontal-center {
	text-align: center;
	font-weight: bold;
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bold {
	font-weight: bold;
}
