@import "default.css";

#referenceTable {
	width: 100%;
}

#referenceTable th {
	/* Force auto-width */
	width: 0px;
	vertical-align: top;
	text-align: left;
	font-weight: normal;
}

#referenceTable td {
	vertical-align: top;
	text-align: left;
}

/* ==================================== Index */

#referenceIndexDiv {
	width: 350px;
	/* Set height to viewport size minus headers */
	height: calc(100vh - 50px);
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

details > *:not(summary){
  margin-left: 2em;
}

/* ==================================== Page */

#referencePageDiv {
	/* Set height to viewport size minus headers */
	height: calc(100vh - 50px);
	overflow-y: scroll;
	padding-left: 8px;
}

#classTable th {
	font-weight: 500;
	padding-right: 10px;
}

code {
	font-family: monospace;
	font-size: 120%;
	background-color: #f0f0f0;
}

/* ==================================== Methods */

.methodCategoryDiv {
	font-weight: 500;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 2px;
}

.methodComment {
	margin-left: 20px;
	margin-bottom: 8px;
}
